<!-- Page d'erreur -->
<div class="ui vertical masthead center aligned segment" style="padding-top:50px;">

  <div class="ui container">
    <h1 class="ui header">
    	<%= erreur.titre %>
    </h1>
    <h2 style="margin-top:0px;margin-bottom:1.5em;"><%= erreur.sous_titre %></h2>
    <a href="/" class="ui huge teal button">
      <i class="angle right icon"></i> <%= erreur.bouton %> <i class="angle left icon"></i>
    </a>
  </div>

</div>