<!-- Accueil -->
<div class="ui vertical masthead center aligned segment" style="padding-top:50px;">

  <div class="ui container">
    <h1>
      Bienvenue sur le projet Emendare
    </h1>
    <h2>La nouvelle plateforme collaborative et démocratique</h2>
    <a href="/tutoriel" class="ui huge teal button">
      <i class="angle right icon"></i> Suivez-le guide pour bien débuter <i class="angle left icon"></i>
    </a>
  </div>

</div>