<!-- Page de la rédaction collaborative -->
<div class="ui stackable divided grid">

  <!-- Colonne pour lister les textes officiels -->
  <div class="five wide column" style="min-height:800px;">
    <% include liste_textes %>
  </div>

  <!-- Colonne pour afficher le texte sélectionné -->
  <div class="seven wide column">
    <% include disp_texte %>
  </div>

  <!-- Colonne pour afficher les options d'édition -->
  <div class="four wide column">
    <% include options_texte %>
  </div>

</div>